{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block static %}<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}"/> {% endblock static %}

{% block title %}
    Available Courses
{% endblock title %}

{% block content %}
<div class="cards">
    {% for course in courses %}
    <div class="card">
        <header><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></header>
        <div class="card-copy">
            <h3>{{ course.description }}</h3>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}